In [698]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [700]:
df = pd.read_csv('training_set_features.csv')
labels = pd.read_csv('training_set_labels.csv')
test = pd.read_csv('test_set_features.csv')

In [701]:
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [702]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26615 non-null  float64
 2   xyz_knowledge                26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_xyz              24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_xyz_vacc_effective   26316 non-null  float64
 17  opinion_xyz_risk             26319 non-null  float64
 18  opinion_xyz_sick_from_vacc   26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(1), object(12)
memory usage: 7.3+ MB

In [704]:
df.isnull().sum()

respondent_id                      0
xyz_concern                       92
xyz_knowledge                    116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [707]:
test.isnull().sum()

respondent_id                      0
xyz_concern                       85
xyz_knowledge                    122
behavioral_antiviral_meds         79
behavioral_avoidance             213
behavioral_face_mask              19
behavioral_wash_hands             40
behavioral_large_gatherings       72
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            932
child_under_6_months             813
health_worker                    789
health_insurance               12228
opinion_xyz_vacc_effective       398
opinion_xyz_risk                 380
opinion_xyz_sick_from_vacc       375
opinion_seas_vacc_effective      452
opinion_seas_risk                499
opinion_seas_sick_from_vacc      521
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4497
marital_status                  1442
rent_or_own                     2036
employment_status               1471
hhs_geo_region                     0
census_msa                         0
household_adults                 225
household_children               225
employment_industry            13275
employment_occupation          13426
dtype: int64

In [709]:
df.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation'],
      dtype='object')

### Filling Missing Values and Data Cleaning

In [713]:
names = ['xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face']

for i in names:
    mode_train = df[i].mode()[0]
    mode_test = test[i].mode()[0]
    df[i].fillna(mode_train, inplace=True)
    test[i].fillna(mode_test, inplace=True)

In [715]:
names2 = ['doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc']

for i in names2:
    print(df[i].value_counts())

doctor_recc_xyz
0.0    19139
1.0     5408
Name: count, dtype: int64
doctor_recc_seasonal
0.0    16453
1.0     8094
Name: count, dtype: int64
chronic_med_condition
0.0    18446
1.0     7290
Name: count, dtype: int64
child_under_6_months
0.0    23749
1.0     2138
Name: count, dtype: int64
health_worker
0.0    23004
1.0     2899
Name: count, dtype: int64
health_insurance
1.0    12697
0.0     1736
Name: count, dtype: int64
opinion_xyz_vacc_effective
4.0    11683
5.0     7166
3.0     4723
2.0     1858
1.0      886
Name: count, dtype: int64
opinion_xyz_risk
2.0    9919
1.0    8139
4.0    5394
5.0    1750
3.0    1117
Name: count, dtype: int64
opinion_xyz_sick_from_vacc
2.0    9129
1.0    8998
4.0    5850
5.0    2187
3.0     148
Name: count, dtype: int64
opinion_seas_vacc_effective
4.0    11629
5.0     9973
2.0     2206
1.0     1221
3.0     1216
Name: count, dtype: int64
opinion_seas_risk
2.0    8954
4.0    7630
1.0    5974
5.0    2958
3.0     677
Name: count, dtype: int64
opinion_seas_sick_from_vacc
1.0    11870
2.0     7633
4.0     4852
5.0     1721
3.0       94
Name: count, dtype: int64

In [716]:
names3 = ['doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance',]
for i in names3:
    proportion_of_ones = df[i].mean()
    proportion_of_zeros = 1 - proportion_of_ones
    random_values = np.random.choice([0, 1], size=df[i].isnull().sum(), p=[proportion_of_zeros, proportion_of_ones])
    df.loc[df[i].isnull(), i] = random_values
    proportion_of_ones2 = test[i].mean()
    proportion_of_zeros2 = 1 - proportion_of_ones2
    random_values = np.random.choice([0, 1], size=test[i].isnull().sum(), p=[proportion_of_zeros2, proportion_of_ones2])
    test.loc[test[i].isnull(), i] = random_values

In [717]:
names2 = ['doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc']

for i in names2:
    print(df[i].isnull().sum())
    print(df[i].value_counts())

0
doctor_recc_xyz
0.0    20823
1.0     5884
Name: count, dtype: int64
0
doctor_recc_seasonal
0.0    17898
1.0     8809
Name: count, dtype: int64
0
chronic_med_condition
0.0    19133
1.0     7574
Name: count, dtype: int64
0
child_under_6_months
0.0    24489
1.0     2218
Name: count, dtype: int64
0
health_worker
0.0    23722
1.0     2985
Name: count, dtype: int64
0
health_insurance
1.0    23467
0.0     3240
Name: count, dtype: int64
391
opinion_xyz_vacc_effective
4.0    11683
5.0     7166
3.0     4723
2.0     1858
1.0      886
Name: count, dtype: int64
388
opinion_xyz_risk
2.0    9919
1.0    8139
4.0    5394
5.0    1750
3.0    1117
Name: count, dtype: int64
395
opinion_xyz_sick_from_vacc
2.0    9129
1.0    8998
4.0    5850
5.0    2187
3.0     148
Name: count, dtype: int64
462
opinion_seas_vacc_effective
4.0    11629
5.0     9973
2.0     2206
1.0     1221
3.0     1216
Name: count, dtype: int64
514
opinion_seas_risk
2.0    8954
4.0    7630
1.0    5974
5.0    2958
3.0     677
Name: count, dtype: int64
537
opinion_seas_sick_from_vacc
1.0    11870
2.0     7633
4.0     4852
5.0     1721
3.0       94
Name: count, dtype: int64

In [720]:
names4 = ['opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc']

for i in names4:
    value_counts = df[i].value_counts(normalize=True)
    value_counts2 = test[i].value_counts(normalize=True)
    num_missing = df[i].isna().sum()
    num_missing2 = test[i].isna().sum()
    fill_values = np.random.choice(value_counts.index, size=num_missing, p=value_counts.values)
    fill_values2 = np.random.choice(value_counts2.index, size=num_missing2, p=value_counts2.values)
    df.loc[df[i].isna(), i] = fill_values
    test.loc[test[i].isna(), i] = fill_values2

In [723]:
names2 = ['doctor_recc_xyz', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_xyz_vacc_effective', 'opinion_xyz_risk',
       'opinion_xyz_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc']

for i in names2:
    print(test[i].isnull().sum())
    print(test[i].value_counts())

0
doctor_recc_xyz
0.0    20762
1.0     5946
Name: count, dtype: int64
0
doctor_recc_seasonal
0.0    17816
1.0     8892
Name: count, dtype: int64
0
chronic_med_condition
0.0    19184
1.0     7524
Name: count, dtype: int64
0
child_under_6_months
0.0    24405
1.0     2303
Name: count, dtype: int64
0
health_worker
0.0    23724
1.0     2984
Name: count, dtype: int64
0
health_insurance
1.0    23706
0.0     3002
Name: count, dtype: int64
0
opinion_xyz_vacc_effective
4.0    11918
5.0     7176
3.0     4851
2.0     1828
1.0      935
Name: count, dtype: int64
0
opinion_xyz_risk
2.0    10095
1.0     8315
4.0     5344
5.0     1707
3.0     1247
Name: count, dtype: int64
0
opinion_xyz_sick_from_vacc
2.0    9309
1.0    9049
4.0    6013
5.0    2173
3.0     164
Name: count, dtype: int64
0
opinion_seas_vacc_effective
4.0    11689
5.0    10167
2.0     2327
3.0     1347
1.0     1178
Name: count, dtype: int64
0
opinion_seas_risk
2.0    9248
4.0    7742
1.0    6068
5.0    2904
3.0     746
Name: count, dtype: int64
0
opinion_seas_sick_from_vacc
1.0    11808
2.0     7932
4.0     5061
5.0     1815
3.0       92
Name: count, dtype: int64

In [725]:
df['age_group'].value_counts()

age_group
65+ Years        6843
55 - 64 Years    5563
45 - 54 Years    5238
18 - 34 Years    5215
35 - 44 Years    3848
Name: count, dtype: int64

In [727]:
df['age_group'].value_counts().index

Index(['65+ Years', '55 - 64 Years', '45 - 54 Years', '18 - 34 Years',
       '35 - 44 Years'],
      dtype='object', name='age_group')

In [728]:
age_cat = ['65+ Years', '55 - 64 Years', '45 - 54 Years', '18 - 34 Years',
       '35 - 44 Years']
age = ['80', '60', '50', '25', '40']
for i in range(0, 5):
    df.loc[df['age_group'].str.contains(age_cat[i]), 'age_group'] = age[i]
    test.loc[test['age_group'].str.contains(age_cat[i]), 'age_group'] = age[i]

df.loc[df['age_group'].str.contains('65'), 'age_group'] = '80'
test.loc[test['age_group'].str.contains('65'), 'age_group'] = '80'
df['age_group'].value_counts()
test['age_group'].value_counts()

age_group
80    6718
60    5529
50    5257
25    5234
40    3970
Name: count, dtype: int64

In [730]:
df['age_group'] = df['age_group'].astype('float64')
test['age_group'] = test['age_group'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26707 non-null  float64
 2   xyz_knowledge                26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_xyz              26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_xyz_vacc_effective   26707 non-null  float64
 17  opinion_xyz_risk             26707 non-null  float64
 18  opinion_xyz_sick_from_vacc   26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  float64
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
dtypes: float64(24), int64(1), object(11)
memory usage: 7.3+ MB

In [732]:
df['marital_status'].value_counts()

marital_status
Married        13555
Not Married    11744
Name: count, dtype: int64

In [734]:
num_missing = df['marital_status'].isna().sum()
num_missing2 = test['marital_status'].isna().sum()

value_counts = df['marital_status'].value_counts(normalize=True)
value_counts2 = test['marital_status'].value_counts(normalize=True)

fill_values = np.random.choice(value_counts.index, size=num_missing, p=value_counts.values)
fill_values2 = np.random.choice(value_counts2.index, size=num_missing2, p=value_counts2.values)
df.loc[df['marital_status'].isna(), 'marital_status'] = fill_values
test.loc[test['marital_status'].isna(), 'marital_status'] = fill_values2

df['marital_status'].value_counts()

marital_status
Married        14318
Not Married    12389
Name: count, dtype: int64

In [737]:
married = pd.get_dummies(df['marital_status'], drop_first=True)
married2 = pd.get_dummies(test['marital_status'], drop_first=True)
married.head()

   Not Married
0         True
1         True
2         True
3         True
4        False

In [738]:
df=pd.concat([df,married],axis=1)
test=pd.concat([test,married2],axis=1)

In [741]:
df.drop('marital_status',axis=1,inplace=True)
test.drop('marital_status',axis=1,inplace=True)

df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,Not Married
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,True
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,True
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,True
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,True
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,False

In [742]:
df['education'].value_counts()

education
College Graduate    10097
Some College         7043
12 Years             5797
< 12 Years           2363
Name: count, dtype: int64

In [745]:
df.loc[(df['income_poverty'] == 'Below Poverty') | (df['employment_status'] == 'Unemployed'), 'education'].value_counts()

education
12 Years            1217
Some College         994
< 12 Years           933
College Graduate     592
Name: count, dtype: int64

In [747]:
df.loc[(df['education'].isna()) & ((df['income_poverty'] == 'Below Poverty') | (df['employment_status'] == 'Unemployed')), 'education'] = '< 12 Years'

In [749]:
test.loc[(test['education'].isna()) & ((test['income_poverty'] == 'Below Poverty') | (test['employment_status'] == 'Unemployed')), 'education'] = '< 12 Years'

In [751]:
df.loc[(df['income_poverty'] == 'Below Poverty') | (df['employment_status'] == 'Unemployed'), 'education'].value_counts()

education
12 Years            1217
Some College         994
< 12 Years           962
College Graduate     592
Name: count, dtype: int64

In [753]:
df.loc[(df['income_poverty'] == '> $75,000') | (df['employment_status'] == 'Employed'), 'education'].value_counts()

education
College Graduate    7638
Some College        4126
12 Years            2678
< 12 Years           799
Name: count, dtype: int64

In [755]:
num_missing = df['education'].isna().sum()
num_missing2 = test['education'].isna().sum()

value_counts = df['education'].value_counts(normalize=True)
value_counts2 = test['education'].value_counts(normalize=True)

fill_values = np.random.choice(value_counts.index, size=num_missing, p=value_counts.values)
fill_values2 = np.random.choice(value_counts2.index, size=num_missing2, p=value_counts2.values)
df.loc[df['education'].isna(), 'education'] = fill_values
test.loc[test['education'].isna(), 'education'] = fill_values2

df['education'].value_counts()
test['education'].value_counts()

education
College Graduate    10722
Some College         7481
12 Years             6021
< 12 Years           2484
Name: count, dtype: int64

In [757]:
dict = {'< 12 Years':1, '12 Years':2, 'Some College':3, 'College Graduate':4}
df['education_num'] = df['education'].map(dict)
df['education_num'] = df['education_num'].astype('int64')
test['education_num'] = test['education'].map(dict)
test['education_num'] = test['education_num'].astype('int64')
df['education_num'].value_counts()

education_num
4    10660
3     7416
2     6112
1     2519
Name: count, dtype: int64

In [759]:
df.drop('education', axis=1, inplace=True)
test.drop('education', axis=1, inplace=True)

In [761]:
df['race'].value_counts()

race
White                21222
Black                 2118
Hispanic              1755
Other or Multiple     1612
Name: count, dtype: int64

In [763]:
race = pd.get_dummies(df['race'],drop_first=True)
race2 = pd.get_dummies(test['race'],drop_first=True)
race.head()

   Hispanic  Other or Multiple  White
0     False              False   True
1     False              False   True
2     False              False   True
3     False              False   True
4     False              False   True

In [765]:
df=pd.concat([df,race],axis=1)
test=pd.concat([test,race2],axis=1)

In [767]:
df.drop('race', axis=1, inplace=True)
test.drop('race', axis=1, inplace=True)

In [769]:
df['sex'].value_counts()

sex
Female    15858
Male      10849
Name: count, dtype: int64

In [771]:
sex = pd.get_dummies(df['sex'],drop_first=True)
sex2 = pd.get_dummies(test['sex'],drop_first=True)
sex.head()

    Male
0  False
1   True
2   True
3  False
4  False

In [773]:
df=pd.concat([df,sex],axis=1)
test=pd.concat([test,sex2],axis=1)

In [775]:
df.drop('sex', axis=1, inplace=True)
test.drop('sex', axis=1, inplace=True)
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,household_adults,household_children,employment_industry,employment_occupation,Not Married,education_num,Hispanic,Other or Multiple,White,Male
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,NaN,NaN,True,1,False,False,True,False
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,pxcmvdjn,xgwztkwe,True,2,False,False,True,True
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,rucpziij,xtkaffoo,True,4,False,False,True,True
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,NaN,NaN,True,2,False,False,True,False
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,wxleyezf,emcorrxb,False,3,False,False,True,False

In [777]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26707 non-null  float64
 2   xyz_knowledge                26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_xyz              26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_xyz_vacc_effective   26707 non-null  float64
 17  opinion_xyz_risk             26707 non-null  float64
 18  opinion_xyz_sick_from_vacc   26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  float64
 23  income_poverty               22284 non-null  object
 24  rent_or_own                  24665 non-null  object
 25  employment_status            25244 non-null  object
 26  hhs_geo_region               26707 non-null  object
 27  census_msa                   26707 non-null  object
 28  household_adults             26458 non-null  float64
 29  household_children           26458 non-null  float64
 30  employment_industry          13377 non-null  object
 31  employment_occupation        13237 non-null  object
 32  Not Married                  26707 non-null  bool
 33  education_num                26707 non-null  int64
 34  Hispanic                     26707 non-null  bool
 35  Other or Multiple            26707 non-null  bool
 36  White                        26707 non-null  bool
 37  Male                         26707 non-null  bool
dtypes: bool(5), float64(24), int64(2), object(7)
memory usage: 6.9+ MB

In [779]:
df['income_poverty'].value_counts()

income_poverty
<= $75,000, Above Poverty    12777
> $75,000                     6810
Below Poverty                 2697
Name: count, dtype: int64

In [781]:
df['income_poverty'].unique()

array(['Below Poverty', '<= $75,000, Above Poverty', '> $75,000', nan],
      dtype=object)

In [783]:
df.loc[(df['income_poverty'] == '> $75,000') & (df['education_num'] == 4), 'income_poverty'].value_counts()

income_poverty
> $75,000    4507
Name: count, dtype: int64

In [785]:
inc = ['Below Poverty', 'Below Poverty', '<= $75,000, Above Poverty', '> $75,000']
edu = [1,2,3,4]

for i in edu:
    df.loc[(df['income_poverty'].isna()) & (df['education_num'] == i), 'income_poverty'] = inc[i-1]
    test.loc[(test['income_poverty'].isna()) & (test['education_num'] == i), 'income_poverty'] = inc[i-1]
df['income_poverty'].value_counts()

income_poverty
<= $75,000, Above Poverty    13895
> $75,000                     8262
Below Poverty                 4550
Name: count, dtype: int64

In [787]:
df['income_poverty'].value_counts().sum()

26707

In [789]:
dict2 = {'Below Poverty':1, '<= $75,000, Above Poverty':2, '> $75,000':3}
df['inc_num'] = df['income_poverty'].map(dict2)
df['inc_num'] = df['inc_num'].astype('int64')
test['inc_num'] = test['income_poverty'].map(dict2)
test['inc_num'] = test['inc_num'].astype('int64')
df['inc_num'].value_counts()

inc_num
2    13895
3     8262
1     4550
Name: count, dtype: int64

In [791]:
df.drop('income_poverty', axis=1, inplace=True)
test.drop('income_poverty', axis=1, inplace=True)
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,household_children,employment_industry,employment_occupation,Not Married,education_num,Hispanic,Other or Multiple,White,Male,inc_num
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,NaN,NaN,True,1,False,False,True,False,1
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0.0,pxcmvdjn,xgwztkwe,True,2,False,False,True,True,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,rucpziij,xtkaffoo,True,4,False,False,True,True,2
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,NaN,NaN,True,2,False,False,True,False,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,wxleyezf,emcorrxb,False,3,False,False,True,False,2

In [793]:
df['rent_or_own'].value_counts()

rent_or_own
Own     18736
Rent     5929
Name: count, dtype: int64

In [795]:
df.loc[(df['rent_or_own'] == 'Own'), 'age_group'].value_counts()

age_group
80.0    5274
60.0    4423
50.0    3933
40.0    2582
25.0    2524
Name: count, dtype: int64

In [797]:
df.loc[(df['rent_or_own'].isna()) & (df['age_group'] >= 50.0), 'rent_or_own'] = 'Own'
df.loc[(df['rent_or_own'].isna()) & (df['age_group'] < 50.0), 'rent_or_own'] = 'Rent'
test.loc[(test['rent_or_own'].isna()) & (test['age_group'] >= 50.0), 'rent_or_own'] = 'Own'
test.loc[(test['rent_or_own'].isna()) & (test['age_group'] >= 50.0), 'rent_or_own'] = 'Own'

In [799]:
ghar = pd.get_dummies(df['rent_or_own'],drop_first=True)
ghar2 = pd.get_dummies(test['rent_or_own'],drop_first=True)
ghar.head()

    Rent
0  False
1   True
2  False
3   True
4  False

In [801]:
df=pd.concat([df,ghar],axis=1)
test=pd.concat([test,ghar2],axis=1)

In [803]:
df.drop('rent_or_own', axis=1, inplace=True)
test.drop('rent_or_own', axis=1, inplace=True)
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,employment_industry,employment_occupation,Not Married,education_num,Hispanic,Other or Multiple,White,Male,inc_num,Rent
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,True,1,False,False,True,False,1,False
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,pxcmvdjn,xgwztkwe,True,2,False,False,True,True,1,True
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,rucpziij,xtkaffoo,True,4,False,False,True,True,2,False
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,NaN,NaN,True,2,False,False,True,False,1,True
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,wxleyezf,emcorrxb,False,3,False,False,True,False,2,False

In [805]:
df['employment_status'].value_counts()

employment_status
Employed              13560
Not in Labor Force    10231
Unemployed             1453
Name: count, dtype: int64

In [807]:
mode_train = df['employment_status'].mode()[0]
mode_test = test['employment_status'].mode()[0]
df['employment_status'].fillna(mode_train, inplace=True)
test['employment_status'].fillna(mode_test, inplace=True)

In [809]:
df['employment_status'].value_counts()

employment_status
Employed              15023
Not in Labor Force    10231
Unemployed             1453
Name: count, dtype: int64

In [811]:
emp = pd.get_dummies(df['employment_status'],drop_first=True)
emp2 = pd.get_dummies(test['employment_status'],drop_first=True)
emp.head()

   Not in Labor Force  Unemployed
0                True       False
1               False       False
2               False       False
3                True       False
4               False       False

In [813]:
df=pd.concat([df,emp],axis=1)
test=pd.concat([test,emp2],axis=1)

In [815]:
df.drop('employment_status', axis=1, inplace=True)
test.drop('employment_status', axis=1, inplace=True)
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,Not Married,education_num,Hispanic,Other or Multiple,White,Male,inc_num,Rent,Not in Labor Force,Unemployed
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,True,1,False,False,True,False,1,False,True,False
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,True,2,False,False,True,True,1,True,False,False
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,True,4,False,False,True,True,2,False,False,False
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,True,2,False,False,True,False,1,True,True,False
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,False,3,False,False,True,False,2,False,False,False

In [817]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26707 non-null  float64
 2   xyz_knowledge                26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_xyz              26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_xyz_vacc_effective   26707 non-null  float64
 17  opinion_xyz_risk             26707 non-null  float64
 18  opinion_xyz_sick_from_vacc   26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  float64
 23  hhs_geo_region               26707 non-null  object
 24  census_msa                   26707 non-null  object
 25  household_adults             26458 non-null  float64
 26  household_children           26458 non-null  float64
 27  employment_industry          13377 non-null  object
 28  employment_occupation        13237 non-null  object
 29  Not Married                  26707 non-null  bool
 30  education_num                26707 non-null  int64
 31  Hispanic                     26707 non-null  bool
 32  Other or Multiple            26707 non-null  bool
 33  White                        26707 non-null  bool
 34  Male                         26707 non-null  bool
 35  inc_num                      26707 non-null  int64
 36  Rent                         26707 non-null  bool
 37  Not in Labor Force           26707 non-null  bool
 38  Unemployed                   26707 non-null  bool
dtypes: bool(8), float64(24), int64(3), object(4)
memory usage: 6.5+ MB

In [819]:
df['household_adults'].value_counts()

household_adults
1.0    14474
0.0     8056
2.0     2803
3.0     1125
Name: count, dtype: int64

In [821]:
df.loc[(df['age_group'] == 25.0) & (df['Not Married'] == True) , 'household_adults'].value_counts()

household_adults
1.0    1134
0.0     827
2.0     691
3.0     398
Name: count, dtype: int64

In [823]:
df.loc[(df['age_group'] == 25.0) & (df['household_adults'].isna()), 'household_adults'] = 1.0
df.loc[(df['Not Married'] == False) & (df['household_adults'].isna()), 'household_adults'] = 1.0
df.loc[(df['Not Married'] == True) & (df['household_adults'].isna()), 'household_adults'] = 0.0
test.loc[(test['age_group'] == 25.0) & (test['household_adults'].isna()), 'household_adults'] = 1.0
test.loc[(test['Not Married'] == False) & (test['household_adults'].isna()), 'household_adults'] = 1.0
test.loc[(test['Not Married'] == True) & (test['household_adults'].isna()), 'household_adults'] = 0.0
df['household_adults'].value_counts().sum()

26707

In [825]:
df['household_adults'] = df['household_adults'].astype('int64')
test['household_adults'] = test['household_adults'].astype('int64')

In [827]:
df['household_children'].value_counts().sum()

26458

In [829]:
df.loc[(df['household_children'].isna()) , 'household_children'] = 0.0
test.loc[(test['household_children'].isna()) , 'household_children'] = 0.0

In [831]:
df['household_children'] = df['household_children'].astype('int64')
test['household_children'] = test['household_children'].astype('int64')

In [833]:
df['employment_industry'].value_counts()

employment_industry
fcxhlnwr    2468
wxleyezf    1804
ldnlellj    1231
pxcmvdjn    1037
atmlpfrs     926
arjwrbjb     871
xicduogh     851
mfikgejo     614
vjjrobsf     527
rucpziij     523
xqicxuve     511
saaquncn     338
cfqqtusy     325
nduyfdeo     286
mcubkhph     275
wlfvacwt     215
dotnnunm     201
haxffmxo     148
msuufmds     124
phxvnwax      89
qnlwzans      13
Name: count, dtype: int64

In [835]:
df.loc[df['employment_industry'].isna(), 'employment_industry'] = 'unemployed'
test.loc[test['employment_industry'].isna(), 'employment_industry'] = 'unemployed'

In [837]:
dict3=df['employment_industry'].value_counts().to_dict()
dict4=test['employment_industry'].value_counts().to_dict()

In [839]:
df['employment_industry'] = df['employment_industry'].map(dict3)
test['employment_industry'] = test['employment_industry'].map(dict4)

In [841]:
df.loc[(df['employment_industry'] == 13330), 'employment_industry'] = 0
test.loc[(test['employment_industry'] == 13330), 'employment_industry'] = 0
df['employment_industry'].value_counts()

employment_industry
0       13330
2468     2468
1804     1804
1231     1231
1037     1037
926       926
871       871
851       851
614       614
527       527
523       523
511       511
338       338
325       325
286       286
275       275
215       215
201       201
148       148
124       124
89         89
13         13
Name: count, dtype: int64

In [843]:
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,Not Married,education_num,Hispanic,Other or Multiple,White,Male,inc_num,Rent,Not in Labor Force,Unemployed
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,True,1,False,False,True,False,1,False,True,False
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,True,2,False,False,True,True,1,True,False,False
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,True,4,False,False,True,True,2,False,False,False
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,True,2,False,False,True,False,1,True,True,False
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,False,3,False,False,True,False,2,False,False,False

In [846]:
df['employment_industry'].isnull().sum()

0

In [848]:
df['employment_occupation'].value_counts()

employment_occupation
xtkaffoo    1778
mxkfnird    1509
emcorrxb    1270
cmhcxjea    1247
xgwztkwe    1082
hfxkjkmi     766
qxajmpny     548
xqwwgdyp     485
kldqjyjy     469
uqqtjvyb     452
tfqavkke     388
ukymxvdu     372
vlluhbov     354
oijqvulv     344
ccgxvspp     341
bxpfxfdn     331
haliazsg     296
rcertsgn     276
xzmlyyjv     248
dlvbwzss     227
hodpvpew     208
dcjcmpih     148
pvmttkik      98
Name: count, dtype: int64

In [850]:
df.loc[df['employment_occupation'].isna(), 'employment_occupation'] = 'unemployed'
test.loc[test['employment_occupation'].isna(), 'employment_occupation'] = 'unemployed'
df['employment_occupation'].value_counts()

employment_occupation
unemployed    13470
xtkaffoo       1778
mxkfnird       1509
emcorrxb       1270
cmhcxjea       1247
xgwztkwe       1082
hfxkjkmi        766
qxajmpny        548
xqwwgdyp        485
kldqjyjy        469
uqqtjvyb        452
tfqavkke        388
ukymxvdu        372
vlluhbov        354
oijqvulv        344
ccgxvspp        341
bxpfxfdn        331
haliazsg        296
rcertsgn        276
xzmlyyjv        248
dlvbwzss        227
hodpvpew        208
dcjcmpih        148
pvmttkik         98
Name: count, dtype: int64

In [852]:
dict5=df['employment_occupation'].value_counts().to_dict()
dict6=test['employment_occupation'].value_counts().to_dict()

In [854]:
df['employment_occupation'] = df['employment_occupation'].map(dict5)
test['employment_occupation'] = test['employment_occupation'].map(dict6)
df.loc[(df['employment_occupation'] == 13470), 'employment_occupation'] = 0
test.loc[(test['employment_occupation'] == 13470), 'employment_occupation'] = 0
df['employment_occupation'].value_counts()

employment_occupation
0       13470
1778     1778
1509     1509
1270     1270
1247     1247
1082     1082
766       766
548       548
485       485
469       469
452       452
388       388
372       372
354       354
344       344
341       341
331       331
296       296
276       276
248       248
227       227
208       208
148       148
98         98
Name: count, dtype: int64

In [856]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26707 non-null  float64
 2   xyz_knowledge                26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_xyz              26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_xyz_vacc_effective   26707 non-null  float64
 17  opinion_xyz_risk             26707 non-null  float64
 18  opinion_xyz_sick_from_vacc   26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  float64
 23  hhs_geo_region               26707 non-null  object
 24  census_msa                   26707 non-null  object
 25  household_adults             26707 non-null  int64
 26  household_children           26707 non-null  int64
 27  employment_industry          26707 non-null  int64
 28  employment_occupation        26707 non-null  int64
 29  Not Married                  26707 non-null  bool
 30  education_num                26707 non-null  int64
 31  Hispanic                     26707 non-null  bool
 32  Other or Multiple            26707 non-null  bool
 33  White                        26707 non-null  bool
 34  Male                         26707 non-null  bool
 35  inc_num                      26707 non-null  int64
 36  Rent                         26707 non-null  bool
 37  Not in Labor Force           26707 non-null  bool
 38  Unemployed                   26707 non-null  bool
dtypes: bool(8), float64(22), int64(7), object(2)
memory usage: 6.5+ MB

In [858]:
df.drop(['hhs_geo_region', 'census_msa'], axis=1, inplace=True)
test.drop(['hhs_geo_region', 'census_msa'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26707 non-null  float64
 2   xyz_knowledge                26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_xyz              26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_xyz_vacc_effective   26707 non-null  float64
 17  opinion_xyz_risk             26707 non-null  float64
 18  opinion_xyz_sick_from_vacc   26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  float64
 23  household_adults             26707 non-null  int64
 24  household_children           26707 non-null  int64
 25  employment_industry          26707 non-null  int64
 26  employment_occupation        26707 non-null  int64
 27  Not Married                  26707 non-null  bool
 28  education_num                26707 non-null  int64
 29  Hispanic                     26707 non-null  bool
 30  Other or Multiple            26707 non-null  bool
 31  White                        26707 non-null  bool
 32  Male                         26707 non-null  bool
 33  inc_num                      26707 non-null  int64
 34  Rent                         26707 non-null  bool
 35  Not in Labor Force           26707 non-null  bool
 36  Unemployed                   26707 non-null  bool
dtypes: bool(8), float64(22), int64(7)
memory usage: 6.1 MB

In [860]:
arr = df.columns
for i in arr:
    if (df[i].dtype == 'float64'):
        df[i] = df[i].astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26707 non-null  int64
 2   xyz_knowledge                26707 non-null  int64
 3   behavioral_antiviral_meds    26707 non-null  int64
 4   behavioral_avoidance         26707 non-null  int64
 5   behavioral_face_mask         26707 non-null  int64
 6   behavioral_wash_hands        26707 non-null  int64
 7   behavioral_large_gatherings  26707 non-null  int64
 8   behavioral_outside_home      26707 non-null  int64
 9   behavioral_touch_face        26707 non-null  int64
 10  doctor_recc_xyz              26707 non-null  int64
 11  doctor_recc_seasonal         26707 non-null  int64
 12  chronic_med_condition        26707 non-null  int64
 13  child_under_6_months         26707 non-null  int64
 14  health_worker                26707 non-null  int64
 15  health_insurance             26707 non-null  int64
 16  opinion_xyz_vacc_effective   26707 non-null  int64
 17  opinion_xyz_risk             26707 non-null  int64
 18  opinion_xyz_sick_from_vacc   26707 non-null  int64
 19  opinion_seas_vacc_effective  26707 non-null  int64
 20  opinion_seas_risk            26707 non-null  int64
 21  opinion_seas_sick_from_vacc  26707 non-null  int64
 22  age_group                    26707 non-null  int64
 23  household_adults             26707 non-null  int64
 24  household_children           26707 non-null  int64
 25  employment_industry          26707 non-null  int64
 26  employment_occupation        26707 non-null  int64
 27  Not Married                  26707 non-null  bool
 28  education_num                26707 non-null  int64
 29  Hispanic                     26707 non-null  bool
 30  Other or Multiple            26707 non-null  bool
 31  White                        26707 non-null  bool
 32  Male                         26707 non-null  bool
 33  inc_num                      26707 non-null  int64
 34  Rent                         26707 non-null  bool
 35  Not in Labor Force           26707 non-null  bool
 36  Unemployed                   26707 non-null  bool
dtypes: bool(8), int64(29)
memory usage: 6.1 MB

In [862]:
arr = df.columns
for i in arr:
    if (test[i].dtype == 'float64'):
        test[i] = test[i].astype('int64')

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26708 entries, 0 to 26707
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26708 non-null  int64
 1   xyz_concern                  26708 non-null  int64
 2   xyz_knowledge                26708 non-null  int64
 3   behavioral_antiviral_meds    26708 non-null  int64
 4   behavioral_avoidance         26708 non-null  int64
 5   behavioral_face_mask         26708 non-null  int64
 6   behavioral_wash_hands        26708 non-null  int64
 7   behavioral_large_gatherings  26708 non-null  int64
 8   behavioral_outside_home      26708 non-null  int64
 9   behavioral_touch_face        26708 non-null  int64
 10  doctor_recc_xyz              26708 non-null  int64
 11  doctor_recc_seasonal         26708 non-null  int64
 12  chronic_med_condition        26708 non-null  int64
 13  child_under_6_months         26708 non-null  int64
 14  health_worker                26708 non-null  int64
 15  health_insurance             26708 non-null  int64
 16  opinion_xyz_vacc_effective   26708 non-null  int64
 17  opinion_xyz_risk             26708 non-null  int64
 18  opinion_xyz_sick_from_vacc   26708 non-null  int64
 19  opinion_seas_vacc_effective  26708 non-null  int64
 20  opinion_seas_risk            26708 non-null  int64
 21  opinion_seas_sick_from_vacc  26708 non-null  int64
 22  age_group                    26708 non-null  int64
 23  household_adults             26708 non-null  int64
 24  household_children           26708 non-null  int64
 25  employment_industry          26708 non-null  int64
 26  employment_occupation        26708 non-null  int64
 27  Not Married                  26708 non-null  bool
 28  education_num                26708 non-null  int64
 29  Hispanic                     26708 non-null  bool
 30  Other or Multiple            26708 non-null  bool
 31  White                        26708 non-null  bool
 32  Male                         26708 non-null  bool
 33  inc_num                      26708 non-null  int64
 34  Rent                         26708 non-null  bool
 35  Not in Labor Force           26708 non-null  bool
 36  Unemployed                   26708 non-null  bool
dtypes: bool(8), int64(29)
memory usage: 6.1 MB

In [892]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import label_binarize
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
clf = LogisticRegression()

In [894]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)
test_scaled = scaler.transform(test)

In [896]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   respondent_id     26707 non-null  int64
 1   xyz_vaccine       26707 non-null  int64
 2   seasonal_vaccine  26707 non-null  int64
dtypes: int64(3)
memory usage: 626.1 KB

In [899]:
y_train_xyz = labels['xyz_vaccine'].to_numpy()

In [901]:
clf.fit(df_scaled, y_train_xyz)

LogisticRegression()

In [903]:
prob_xyz = clf.predict_proba(test_scaled)
prob_xyz

array([[0.90437475, 0.09562525],
       [0.9694495 , 0.0305505 ],
       [0.55400817, 0.44599183],
       ...,
       [0.92261769, 0.07738231],
       [0.96822958, 0.03177042],
       [0.28499727, 0.71500273]])

In [905]:
y_train_seas = labels['seasonal_vaccine'].to_numpy()

In [907]:
clf2 = LogisticRegression()
clf2.fit(df_scaled, y_train_seas)

LogisticRegression()

In [909]:
prob_seas = clf2.predict_proba(test_scaled)
prob_seas

array([[0.74087607, 0.25912393],
       [0.95748547, 0.04251453],
       [0.28916753, 0.71083247],
       ...,
       [0.88502358, 0.11497642],
       [0.73854815, 0.26145185],
       [0.26523292, 0.73476708]])

In [911]:
prob_seas.dtype

dtype('float64')

In [913]:
prob_xyz.dtype

dtype('float64')

In [927]:
xyz_vaccine = prob_xyz[:,1]
seasonal_vaccine = prob_seas[:,1]
respondent_id = np.arange(26707, len(xyz_vaccine) + 26707)

In [929]:
len(respondent_id)

26708

In [931]:
df2 = pd.DataFrame({'respondent_id':respondent_id, 'xyz_vaccine':xyz_vaccine, 'seasonal_vaccine':seasonal_vaccine})
df2.head()

   respondent_id  xyz_vaccine  seasonal_vaccine
0          26707     0.095625          0.259124
1          26708     0.030551          0.042515
2          26709     0.445992          0.710832
3          26710     0.305701          0.782296
4          26711     0.198636          0.482160

In [935]:
df2.to_csv('Tushay_Gupta_Datahack.csv', index=False)